# {{ ansible_managed }}

[Unit]
Description=Run Caddy webserver
After=network.target

[Service]
Type=simple
DynamicUser=true
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE

StateDirectory=caddy
Environment=HOME=/var/lib/caddy
WorkingDirectory=/var/lib/caddy

ExecStart=/usr/local/bin/caddy reverse-proxy --from 'https://domjudge.svsticky.nl' --to 'http://localhost:9090'

[Install]
WantedBy=multi-user.target
