# {{ ansible_managed }}
version: '3'

services:
  dj-mariadb:
    image: mariadb
		environment:
			- MYSQL_ROOT_PASSWORD=rootpw
			- MYSQL_DATABASE=domjudge
			- MYSQL_USER=domjudge
			- MYSQL_PASSWORD=djpw
		command:
			--max-connections=1000

	dj-domserver:
		image: domjudge/domserver:latest
		volumes:
			- /sys/fs/cgroup:/sys/fs/cgroup:ro
		environment:
			- CONTAINER_TIMEZONE=Europe/Amsterdam
			- MYSQL_ROOT_PASSWORD=rootpw
			- MYSQL_DATABASE=domjudge
			- MYSQL_USER=domjudge
			- MYSQL_PASSWORD=djpw
		ports:
			- 9090:80
		links:
			- dj-mariadb:mariadb

	dj-judgehost:
		image: domjudge/judgehost:latest
		privileged: true
		hostname: judgedaemon-0
		volumes:
			- /sys/fs/cgroup:/sys/fs/cgroup:ro
		environment:
			- DAEMON_ID=0
			- JUDGEDAEMON_PASSWORD=domjudge
		links:
			- dj-domserver:domserver

	phpmyadmin:
		image: phpmyadmin/phpmyadmin
		container_name: myadmin
		ports:
			- 8888:80
		environment:
			- PMA_ARBITRARY=1
			- PMA_HOST=dj-mariadb
		links:
			- dj-mariadb:db
